@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#logo {
  height: 150px;
}

#profPic {
  height: 30px;
  width: 30px;
}

// #bunny {
//   height: 300px;
//   width: 400px;
// }
